<div class="container">
  <h2 class="text-white text-center">Welcome to the inventory subsystem</h2>

  <div class="row m-2">
    <div class="text-center col-4">
      <button class="btn btn-danger btn-block m-3">View Inventory</button>
    </div>

    <div class="text-center col-4">
      <button (click)="displayForm()" class="btn btn-danger btn-block m-3">
        Add New Parcels
      </button>
    </div>

    <div class="text-center col-4">
      <button (click)="displayOutForm()" class="btn btn-danger btn-block m-3">
        Parcels out for Delivery
      </button>
    </div>

    <div>
      <app-add-parcels *ngIf="addForm"></app-add-parcels>
      <app-remove-parcels *ngIf="outForm"></app-remove-parcels>
    </div>
  </div>
</div>
