<div class="container h-100">
  <div class="row h-100">
    <div class="col-11-offset-1 col-md-5 col-lg-5-offset-1 background">
      <div>
        <a href="/admin/accounting" class="threedivs">
          <p class="text-white text-justify p-2">
            Accounting subsystem
          </p>
        </a>
      </div>
    </div>

    <div class="col-11-offset-1 col-md-5 col-lg-5-offset-1 background">
      <a href="/admin/delivery" class="threedivs">
        <p class="text-white text-justify p-2">
          Delivery subsystem
        </p>
      </a>
    </div>

    <div class="col-11-offset-1 col-md-5 col-lg-5-offset-1 background">
      <a href="/admin/inventory" class="threedivs">
        <p class="text-white text-justify p-2">
          Inventory subsystem
        </p>
      </a>
    </div>

    <div class="col-11-offset-1 col-md-5 col-lg-5-offset-1 background">
        <a href="/admin/applications" class="threedivs">
          <p class="text-white text-justify p-2">
            Applications subsystem
          </p>
        </a>
      </div>

  </div>
</div>
