<nav class="navbar navbar-expand-lg navbar-dark headfoot menu-toggle">
  <a class="navbar-brand" [routerLink]="['/']">
    <!-- <img
        src="../../../assets/img.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      /> -->
    <div>
      <h3 class="brand mr-3">N<span>W</span>Food</h3>
    </div></a
  >
  <button
    class="navbar-toggler navbar-toggler-right"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    id="hamburger"
    (click)="navbarCollapsed = !navbarCollapsed"
  >
    <span class="navbar-toggler-icon mb-0"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    [ngbCollapse]="navbarCollapsed"
    id="navbarNavAltMarkup"
  >
    <div class="navbar-nav ml-auto">
      <!-- if the user is present then printing email -->
      <div *ngIf="email" class="navbar-text float-left">
        {{ email }}
      </div>

      <!-- this home will go to the admin home page -->
      <a
        *ngIf="
          router.url === '/admin/delivery' ||
          router.url == '/admin/accounting' ||
          router.url == '/admin/applications' ||
          router.url == '/admin/inventory'
        "
        [routerLink]="['/admin']"
        class="nav-item nav-link"
        >Home</a
      >

      <!-- this home will go to home page of site -->
      <a
        *ngIf="
          router.url === '/apply/signin' ||
          router.url === '/apply/signup' ||
          router.url == '/delivery' ||
          router.url == '/donate/signin' ||
          router.url == '/donate/signup'
        "
        [routerLink]="['/']"
        class="nav-item nav-link"
        >Home</a
      >

      <!-- show signup and signin for admin   -->
      <a
        *ngIf="router.url === '/admin/signup'"
        routerLinkActive="active"
        [routerLink]="['/admin/signin']"
        class="nav-item nav-link"
        >Sign In</a
      >
      <a
        *ngIf="router.url === '/admin/signin'"
        routerLinkActive="active"
        [routerLink]="['/admin/signup']"
        class="nav-item nav-link"
        >Sign Up</a
      >
      <!-- 
      show signup and signin for donors to donate -->
      <a
        *ngIf="router.url === '/donate/signup'"
        routerLinkActive="active"
        [routerLink]="['/donate/signin']"
        class="nav-item nav-link"
        >Sign In</a
      >

      <a
        *ngIf="router.url === '/donate/signin'"
        routerLinkActive="active"
        [routerLink]="['/donate/signup']"
        class="nav-item nav-link"
        >Sign Up</a
      >

      <!-- show signup and signin for donors for applicants -->
      <a
        *ngIf="router.url === '/apply/signup'"
        routerLinkActive="active"
        [routerLink]="['/apply/signin']"
        class="nav-item nav-link"
        >Sign In</a
      >

      <a
        *ngIf="router.url === '/apply/signin'"
        routerLinkActive="active"
        [routerLink]="['/apply/signup']"
        class="nav-item nav-link"
        >Sign Up</a
      >

      <!-- show signup and signin for donors for volunteer -->
      <a
        *ngIf="router.url === '/volunteer/signup'"
        routerLinkActive="active"
        [routerLink]="['/volunteer/signin']"
        class="nav-item nav-link"
        >Sign In</a
      >

      <a
        *ngIf="router.url === '/volunteer/signin'"
        routerLinkActive="active"
        [routerLink]="['/volunteer/signup']"
        class="nav-item nav-link"
        >Sign Up</a
      >

      <a
        *ngIf="router.url == '/'"
        routerLinkActive="active"
        [routerLink]="['/volunteer']"
        class="nav-item nav-link"
        >Volunteer</a
      >

      <a
        *ngIf="router.url == '/'"
        routerLinkActive="active"
        [routerLink]="['/apply/:id']"
        class="nav-item nav-link"
        >Apply Here</a
      >

      <a
        *ngIf="router.url === '/'"
        routerLinkActive="active"
        [routerLink]="['/donate']"
        class="nav-item nav-link"
        >Donations</a
      >

      <a
        *ngIf="router.url === '/'"
        routerLinkActive="active"
        [routerLink]="['/delivery']"
        class="nav-item nav-link"
        >See deliveries</a
      >

      <!-- this logout is for the admin -->
      <a
        *ngIf="
          (email && router.url == '/admin') ||
          router.url == '/admin/accounting' ||
          router.url == '/admin/applications'
        "
        (click)="handleSignOut()"
        class="nav-item nav-link text-warning"
        >Log Out</a
      >

      <!-- this logout is for the applicants -->
      <a
        *ngIf="email && router.url == '/apply/'"
        (click)="handleApplySignOut()"
        class="nav-item nav-link text-warning"
        >Log Out</a
      >

      <!-- this logout is for donate -->
      <a
        *ngIf="email && router.url == '/donate'"
        (click)="handleDonorSignOut()"
        class="nav-item nav-link text-warning"
        >Log Out</a
      >

      <!-- this logout is for volunteer -->
      <a
        *ngIf="email && router.url == '/volunteer'"
        (click)="handleVolunteerSignOut()"
        class="nav-item nav-link text-warning"
        >Log Out</a
      >
    </div>
  </div>
</nav>
