<div class="container">
  <h2 class="text-white text-center">Welcome to the accounting subsystem</h2>

  <div class="row m-2">
    <div class="text-center col-3">
      <button (click)="showDonors()" class="btn btn-danger btn-block m-3">
        Get all donors info
      </button>
    </div>

    <div class="text-center col-3">
      <button (click)="showDonations()" class="btn btn-danger btn-block m-3">
        Get all Donations
      </button>
    </div>

    <div class="text-center col-3">
      <button (click)="showExpenses()" class="btn btn-danger btn-block m-3">
        Get all Expenses
      </button>
    </div>
  </div>

  <app-donations *ngIf="donations"></app-donations>

  <app-donors *ngIf="donors"></app-donors>

  <app-expenses *ngIf="expenses"></app-expenses>
</div>
