<!-- /**<div *ngIf="form">* -->
<div class="container">
  <div class="main row mt-5 mb-3">
    <div class="col col-6 offset-3">
      <div class="card border-primary">
        <div class="card-header bg-secondary text-large text-white text-center">
          {{ "Add Parcels" | uppercase }}
        </div>

        <form class="card-body" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="amount">Quantity of Parcels Received</label>
            <input
              type="text"
              rows="5"
              class="form-control"
              id="amount"
              name="amount"
              [(ngModel)]="amount"
              required
              placeholder="0"
            />
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!amount">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
