
.mat-cell{
    color: blue;
    text-align: center;
    padding: 15px 0;
    font-size: 15px;
}

.mat-header-cell{
    text-align: center;
    margin: 1px;
    font-weight: bold;
    font-size: 17px;
    padding: 15px 0;
    background-color: crimson;
    color: white;
}

.mat-row:nth-child(even){
    background-color: whitesmoke;
}
.mat-row:nth-child(odd){
    background-color: silver;
}

    th.mat-sort-header-sorted{
        color: red;
    }

.mat-column-transactionId {
    width: 30%;
}

.mat-column-userId {
    width: 25%;
}

.mat-column-date {
    width: 20%;
}

.mat-column-donatedBy {
    width: 20%;
}

.mat-column-amount {
    width: 20%;
}
