<mat-table
  #table
  [dataSource]="ELEMENT_DATA"
  matSort
  class="mat-elevation-z8 table md-col-5 sm-col-7"
>
  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element">
      {{ element?.id }}
    </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>FirstName</th>
    <td mat-cell *matCellDef="let element">
      {{ element?.firstName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>LastName</th>
    <td mat-cell *matCellDef="let element">
      {{ element?.lastName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td mat-cell *matCellDef="let element">
      {{ element?.email }}
    </td>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
    <td mat-cell *matCellDef="let element">
      {{ element?.phoneNumber }}
    </td>
  </ng-container>

  <ng-container matColumnDef="annualIncome">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Annual Income</th>
    <td mat-cell *matCellDef="let element">
      {{ element?.annualIncome }}
    </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
    <td mat-cell *matCellDef="let element">
      {{ element?.address }}
    </td>
  </ng-container>

  <ng-container matColumnDef="qualify">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Qualify</th>
    <td mat-cell *matCellDef="let element">
      {{ element?.qualify }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="applicationsColumnNames"></tr>
  <tr mat-row *matRowDef="let row; columns: applicationsColumnNames"></tr>
</mat-table>
