<div class="container">
  <h3 class="text-justify text-white text-center">
    Welcome to the Foodparcel project
  </h3>
  <p class="text-white text-center">
    <strong>Let us help our communities</strong>
  </p>
  <div class="row m-3">
    <div class="col-12 col-md-12">
      <p class="text-justify text-white">
        The Food Parcel project is about helping our people in our communities
        who are less fortunate. We welcome people to work with us and help
        people where we can. We ask the public to donate and to volunteer to
        help us with the deliveries of the parcels. It is quick and easy to
        apply to receive food parcels and also to be a volunteer. Apply today to
        receive food parcels. Apply today to volunteer. Donate today to help a
        family in need. We aim to put smiles on people's faces and to take away
        some pressure.
      </p>
    </div>
  </div>
</div>
