<div class="container">
  <h3 class="text-justify text-white text-center">
    Welcome to the Foodparcel project 
  </h3>
  <p class="text-white text-center">
      home/landingpage
  </p>
  <div class="row m-3">
    <div class="col col-md-6 col-xs-12">
      <p class="text-justify text-white">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio
        sint dignissimos similique soluta, est ea aliquam cupiditate rerum enim
        illum sed. Deserunt delectus corporis, aliquam libero eos obcaecati
        laborum ad. Rem repellendus ut, dolore eveniet laborum error, sint
        voluptatem magni consequuntur ad tempora doloremque vel odio blanditiis
        quidem facilis explicabo architecto itaque ab tenetur tempore id
        exercitationem reprehenderit! Impedit, magnam! Inventore, animi aperiam.
        Error, porro cumque! Deleniti fuga possimus aliquid temporibus illum
        voluptate porro neque sit ipsum, eaque impedit molestiae, reiciendis
        fugiat modi enim nulla. Error, in debitis. Incidunt, magnam! Omnis
        commodi molestiae, ratione corporis quia id iure. Consequatur neque
        necessitatibus facilis atque dolor ut soluta eum maiores deserunt, porro
        expedita, repellat magnam quia unde distinctio numquam, corrupti vero
        praesentium! Nostrum officia quis, reiciendis natus magnam voluptatem
        odit! Sunt recusandae earum quam tempore! Dolorum earum aut veniam
        ratione quam molestias voluptates, a ipsa officiis dolorem nam ut
        deleniti assumenda sint? Dolor expedita sed repellat doloribus, aliquam
        dignissimos veritatis iusto consectetur unde repudiandae quia eius natus
        aperiam odio earum quas corporis atque in laboriosam id labore eum
        aliquid incidunt. Placeat, asperiores. Deleniti, quaerat porro doloribus
        est iure corrupti alias atque impedit neque ducimus laudantium ratione
        libero consequatur ad provident eius nobis. Adipisci ad deleniti odit
        eos veniam enim et? Voluptatibus, ut?
      </p>
    </div>

    <div class="col col-md-6 col-xs-12">
      <p class="text-justify text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore velit
        vero necessitatibus soluta molestias. Molestias impedit consequatur
        reiciendis enim! Voluptates temporibus reprehenderit laboriosam quis
        impedit, ipsum eveniet. Sunt, voluptatum ducimus? Fuga nobis odio eos
        illo dignissimos. Recusandae, quis minus. Sapiente libero ipsum
        deserunt, quod repellat provident facilis vero maiores cupiditate sit
        veritatis hic odio similique consequatur iste iure suscipit totam.
        Accusantium, quidem? Qui repellat optio beatae voluptate odit id natus
        magni, perferendis, dolorem dolorum cumque velit tempore expedita
        obcaecati blanditiis delectus et. Molestiae explicabo libero, blanditiis
        adipisci ad aut odit. Aliquid ipsam reprehenderit placeat dolore
        doloremque esse ipsa aliquam vel mollitia neque! Modi pariatur nemo
        corrupti dicta maiores fugiat sit laudantium sapiente nostrum? Nisi,
        minus? Dolor corrupti eum iure! Et! Laudantium iure provident libero
        quae animi debitis quis, placeat veniam error perspiciatis quo harum
        nemo et dolorum necessitatibus ullam, neque molestiae accusamus sint
        veritatis beatae optio laboriosam. Aspernatur, voluptas iure.
      </p>
    </div>
  </div>
</div>
