<h2 class="text-white text-center m-3">Welcome to the delivery subsystem</h2>

<div class="row m-2">
  <div class="text-center col-3">
    <button (click)="showView()" class="btn btn-danger btn-block m-3">
      View current deliveries
    </button>
  </div>

  <div class="text-center col-3">
    <button (click)="showCreate()" class="btn btn-danger btn-block m-3">
      Create next delivery
    </button>
  </div>
</div>

<app-create-delivery *ngIf="create"></app-create-delivery>
<app-view-deliveries *ngIf="view"></app-view-deliveries>
